/** License Upgrade Form **/
#lwp-upgrade-license-form {
  .lwp-upgrade-license-block {
    margin-bottom: 25px;

    h3 {
      border-bottom: 1px solid #787E87;
    }
    .form-row {
      padding: 10px 0;
      margin: 0;
      border: 0;
      border-bottom: 1px solid #e6e6e6;

      label {
        display: inline-block;
        width: 50%;
      }

      select {
        width: 49%;
      }

      .lwp-upgrade-license-price {
        font-size: 1.1em;
        font-weight: bold;
      }

    }
  }

}